<li>
  <span class="shop_logo"><%= link_to shop.name, shop %></span>
  <% if current_user.admin? && !current_user?(@user) %>
    | <%= link_to "delete", shop, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>