<% provide(:title, @shop.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="shop_info">
      <h1>
        <%= logo_for @shop %>
        <%= @shop.name %>
      </h1>
    </section>
  </aside>
</div>