<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>

		<h3>
			<p> Skin Color Picture</p>
			<% if @user.picture? %>
				<%= image_for @user, width: 300 %>
			<% end %>
		</h3>
	</aside>
</div>