<li id="shop_post-<%= shop_post.id %>">
	<span class="shop shop_logo"><%= link_to shop_post.shop.name, shop_post.shop %></span>
	<span class="timestamp">
		<%= time_ago_in_words(shop_post.created_at) %> ago
	</span>
</li>