@import "bootstrap-sprockets";
@import "bootstrap";

/*mixins, variables, etc.*/
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/*universal*/

.btn {
  letter-spacing: 1px;
  color: white;
  text-transform: lowercase;
  font-family: 'Alegreya Sans SC', sans-serif;

  &:hover {
    color: white;
  }
}
.pink-button {
  
  background-color: #9b677f;
  border-color:#9b677f;
    &:hover{
    background-color: #9b677f;
    border-color:#9b677f;
  }
}
.gray-button {
  background-color: gray;
  border-color:gray;
}

.lowercase {
  text-transform:lowercase;
}

.small-title {
  font-size: 18px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: gray;
  font-weight: 700;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  height: 100%;
}

.center h1 {
  margin-bottom: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Alegreya Sans SC', sans-serif;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  text-transform: lowercase;
  float: left;
  font-family: 'Lora', serif;
  letter-spacing: 2px;
  margin-right: 10px;
  font-size: 2.5em;
  color: #000;
  padding-top: 1px;
  font-weight: bold;
}

#logo:hover {
  color: #9b677f;
  text-decoration: none;
}

header {
  background-color: white;
}

nav {  
  li {
    text-transform: lowercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;

    a {
      color: black;

      &:hover {
        color: #9b677f;
      }
    }

  }
}
.navbar {
  border-bottom: 1px solid #eaeaea;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


aside {
  margin-right: 10px;
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users, .shops {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* shop_posts */

.shop_posts {
  list-style: none;
  padding: 0;

  li {
    padding:0;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom:50px;
    padding-top: 20px;
  }
  .shop {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    text-transform: lowercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 13px;
    letter-spacing:2px;
  }
  .logo {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/*images*/
.skin_image {
  width: 100px;
}


/*sidebar aside */
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/*side-navbar (custom) */
.side-navbar {
  position: fixed;
}
.side-navbar-header {
    font-family: 'Lora', serif;
    letter-spacing:2px;
    font-size: 18px;
    font-style:italic;
    color: #666666;
    padding: 30px 0 10px;

    &:first-of-type {
      padding-top: 0;
    }
}

.side-navbar-link {
  text-transform: lowercase;
  padding: 5px 0 5px 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
}

/*shop specific css*/
.shop_logo {
  a {
    color:black;
    font-family: 'Lora', serif;
    font-style:italic;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;

    &:hover {
      color: #9b677f;
      text-decoration: none;
    }
  }
}

.shop_info { /*aside component*/
  position:fixed;
}


/*follow form*/
#follow_form {
  padding: 20px 0;
}






