<section class="side-navbar">
	<div class="side-navbar-header">Explore</div>
	<div class="side-navbar-link">New Arrivals</div>
	<div class="side-navbar-link">New in Sale</div>
	<div class="side-navbar-link">Trending</div>
	<div class="side-navbar-link">Explore Shops</div>

	<div class="side-navbar-header">Feed</div>
	<div class="side-navbar-link">Dresses</div>
	<div class="side-navbar-link">Tops + Tees</div>
	<div class="side-navbar-link">Sweaters</div>
	<div class="side-navbar-link">Blouses</div>
	<div class="side-navbar-link">Denim</div>
	<div class="side-navbar-link">Pants</div>
	<div class="side-navbar-link">Skirts</div>
	<div class="side-navbar-link">Accessories</div>
</section>