<section class="side-navbar">
	<div class="replace-background-btn">
		<%= render 'shared/background_replace_form'%>
	</div>
	<div class="side-navbar-header">Explore</div>
	<div class="side-navbar-link"><a href="#">New Arrivals</a></div>
	<div class="side-navbar-link"><a href="#">New in Sale</a></div>
	<div class="side-navbar-link"><a href="#">Trending</a></div>
	<div class="side-navbar-link"><a href="#">Explore Shops</a></div>

	<div class="side-navbar-header">Feed</div>
	<div class="side-navbar-link"><a href="#">Dresses</a></div>
	<div class="side-navbar-link"><a href="#">Tops + Tees</a></div>
	<div class="side-navbar-link"><a href="#">Sweaters</a></div>
	<div class="side-navbar-link"><a href="#">Blouses</a></div>
	<div class="side-navbar-link"><a href="#">Denim</a></div>
	<div class="side-navbar-link"><a href="#">Pants</a></div>
	<div class="side-navbar-link"><a href="#">Skirts</a></div>
	<div class="side-navbar-link"><a href="#">Accessories</a></div>
</section>